.form-title img {
vertical-align: bottom;
padding-right: 10px;    
}
.form-card .form-title {
color: #633B8F;
text-transform: UPPERCASE;
}
.info-card .form-box{
background: #f5f5f5;
padding: 20px;
border-radius: 0; 
}
/* section.infoCard {
overflow: scroll;
max-height: 600px;
} */
.dashboard .modal-close {
margin-top: -600px;
margin-left: -45px;
}
.dashboard .form-card {
background: #f5f5f5;
}
.modal-info {
background: #f5f5f5;
padding: 20px;
padding-top: 40px;
padding-bottom: 40px;
}
.content--wrap {
background: #f5f5f5;
overflow: auto;    
}
section.dashboard {
display: table;
width: 100%;
height: 100%;
}
.content h2 {
font-size: 17px;
margin-top: 20px;
margin-bottom: 10px;
padding-left: 5px;
color: #99A8AD;
}
.dashboard .warning-tag{
width: 120px;    
}
.dashboard .danger-tag{
width: 100px;    
}
.dashboard .drag-column {
padding: 0 15px;
}
.layout-current .default-box {
margin-top: 0px;
}
.layout-current .info-col {
margin-bottom: 10px;
}    
.dashboard .headline {
line-height: 25px!important;
}
.dashboard .info-col .info-val {
margin-right: 20px;
}
.layout-current .c-danger .danger-val {
color: red!important
}
.layout-current .c-danger .headline {
color: red;
}
.layout-current .c-warning .danger-val {
color: orange!important
}
.layout-current .c-warning .headline {
color: orange;
}
.layout-current .info-col .info-val .sprint {
width: 23px;
height: 22px;    
}
@media all and (max-width: 768px) {
section.dashboard {
    display: table;
    width: 100%;
}
.drag-list {
    display: inline-grid;
    width: 100%;
}    
}